
<table border="1" width="70%">
  <tr>
    <th><h1><font color="yellow">BRIAN RIVERA</font>
</h1></th>
  </tr>
  <tr>
    <th><h2><font color="yellow">Todo Category's</font></h2></th>
  </tr>
  <tr>
    <th><a href="/todo/school.html"><font color="yellow">School</font></a></th>
  </tr>
  <tr>
    <th><a href="/todo/home.html"><font color="yellow">Home</font></a></th>
  </tr>
  <tr>
      <th><a href="/todo/food.html"><font color="yellow">Food</font></a></th>
  </tr>
  <tr>
      <th><a href="/todo/work.html"><font color="yellow">Work</font></a></th>
  </tr>
</table>
<!--
    <h1>BRIAN RIVERA</h1>
<h2>TODO LIST</h2>

<ul>
    <li></li>
    <li><a href="/todo_home.html">Home</a></li>
    <li><a href="/todo_food.html">Food</a></li>
    <li><a href="/todo_work.html">Work</a></li>
</ul>



-->

