<h1>Work Todo List</h1>
    <div class="row">
    <ol>
      <% @todos.each do |todo| %>
        <li>
          <div class="column1"><input type="checkbox" name="delete_1" value="1"/></div>
          <div class="column2"><a href="show/<%= todo.id %>"><%= todo.description %></a></div>
          <span class="pomodoro-estimate large-pomodoro-estimate"><%= todo.pomodoro_estimate %> Pomodoros</span>
          <a href="#">Edit</a>
          <a href="/todo/destroy/<%= todo.id %>">Delete</a>
        </li>
      <% end %>
    </ol>
    </div>
    <span class="box-one">Box 1</span>
<span class="box-two">Box 2</span>
    
<form action="/todo/create">
  <input type="text" name="description" placeholder="Add a new todo...">
  <input type="number" name="estimate" placeholder="Pomodoro estimate...">
  <input type="submit" value="Add todo" />
</form>

<!--<button> <a href="/todo/new" id="add-new-todo-button" type="submit" value="Add todo"> </button>-->
    <!--<h2>Make the curriculum 4 Pomodoros</h2>-->
    <a href="/todo/index">Go back...</a>